@model List<MVC_DB_.Models.account>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>編號</th>
                    <th>帳號</th>
                    <th>密碼</th>
                    <th>姓名</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.ID</td>
                        <td>@user.userName</td>
                        <td>@user.passwd</td>
                        <td>@user.name</td>
                    </tr>
                }            
            </tbody>
        </table>
    }
    else
    {
        <p class="alert alert-info">No accounts found.</p>
    }

    <p>@Html.ActionLink("新增帳戶", "addAccount", null, new { @class = "btn btn-primary" })</p>
</div>
